@import "tailwindcss";
:root {
	--bg: #ffffff;
	--bg2: #f9f9f9;
	--surface: #f0f0f0;
	--primary: #0086ff;
	--primary-hover: #0075e0;
	--text: #1a1c1c;
	--text2: #404754;
	--shadow: 0 8px 30px rgba(15, 23, 42, 0.08);
}

.dark {
	--bg: #020202;
	--bg2: #020202;
	--surface: #1b1b1b;
	--primary: #0086ff;
	--primary-hover: #1e90ff;
	--text: #f0f0f0;
	--text2: #a0a0a0;
	--shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar {
	width: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: var(--bg);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, var(--primary), #0068cc);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(180deg, #339dff, var(--primary));
}
